@{
    var cats = FrozenCritters.Models.FrozenCrittersDb.GetCategories();
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div>
        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, htmlAttributes: new { id = "logoutForm", @class="LogIn2"}))
            {
                @Html.AntiForgeryToken()

                <span>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) | <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></span>
            }
        }
        else
        {
            <span id="LogIn">@Html.ActionLink("Log in", "Login", "Account") | @Html.ActionLink("Register", "Register", "Account")</span>
        }
        <span id="cart">@Html.ActionLink("Shoping Cart", "ShoppingCart", "Products")</span>
        <br />
        <br />
        <br />
    </div>
    <div id="bodyWrapper">
        <div id="header">
            <div id="header1">Frozen&nbsp;Critters</div>
            <p id="header2">Natural&nbsp;History&nbsp;Products</p>
        </div>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>
                <a href="#">Products</a>
                <ul class="dropdown">
                    @foreach (var cat in cats)
                    {
                        <li>@Html.ActionLink(cat.CategoriesName, "Products", "Products", new { id = cat.CategoriesId }, null)</li>
                    }
                </ul>
            </li>
            <li>@Html.ActionLink("Gallery", "Gallery", "Gallery")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Laws", "Laws", "Home")</li>
            @if (Request.IsAuthenticated && User.IsInRole("Admin")) {<li>@Html.ActionLink("Admin", "Index", "Admin")</li> }
        </ul>

        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    <footer>
        <p id="copyright">&copy; @DateTime.Now.Year - Frozen Critters</p>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>