@{
    var cats = FrozenCritters.Models.FrozenCrittersDb.GetInStockCategories();
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @RenderSection("metatags", false)
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div id="bodyWrapper">
        <div id="header">
            <div id="header1">Frozen&nbsp;Critters</div>
            <br />
            <div id="header2">Natural&nbsp;History&nbsp;Products</div>
        </div>

        <nav>
            <div class="navPhone">
            <img id="menuImg" src="~/Content/img/menuicon2.png" width="60" height="60" alt="" />
            </div>
            <ul class="ulnavbar" id="dropdown">
                <li class="linavbar">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="linavbar">
                    <a href="#">Products</a>
                    <ul class="dropdown">
                        @foreach (var cat in cats)
                        {
                            <li class="linavbar">@Html.ActionLink(cat.CategoriesName, "Products", "Products", new { id = cat.CategoriesId }, null)</li>
                        }
                    </ul>
                </li>
                <li class="linavbar">@Html.ActionLink("Gallery", "Gallery", "Gallery")</li>
                <li class="linavbar">@Html.ActionLink("About", "About", "Home")</li>
                <li class="linavbar">@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li class="linavbar">@Html.ActionLink("Laws", "Index", "Laws")</li>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                    <li class="linavbar">@Html.ActionLink("Admin", "Index", "Admin")</li> }
            </ul>
        </nav>
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    <footer>
        <p id="copyright">&copy; @DateTime.Now.Year - Frozen Critters</p>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/main.js"></script>
    @RenderSection("scripts", false)
</body>
</html>