
@{
    ViewBag.Title = Model.ProductsName;
}
@*<script src="~/Content/JavaScript.js"></script>*@
<div id="indiProductContainer">
    <div id="photos">
        <div id="mainPhotoContainer">
            <img id="mainPhoto" src="~/Content/img/@Model.ProductsPhoto" alt="@Model.ProductsName" />
        </div>
        <div id="altPhotoContainer">
            @if (Model.ProductsPhoto2 != "")
            {
                <img class="altPhotos" onmouseover="altPhoto2();" onmouseout="defaultPhoto()" src="/Content/img/@Model.ProductsPhoto2" alt="@Model.ProductsName" />
            }
            @if (Model.ProductsPhoto3 != "")
            {
                <img class="altPhotos" onmouseover="altPhoto3();" onmouseout="defaultPhoto()" defaultPhoto()" src="/Content/img/@Model.ProductsPhoto3" alt="@Model.ProductsName" />
            }
            @if (Model.ProductsPhoto4 != "")
            {
                <img class="altPhotos" onmouseover="altPhoto4();" onmouseout="defaultPhoto()" defaultPhoto()" src="/Content/img/@Model.ProductsPhoto4" alt="@Model.ProductsName" />
            }
            @if (Model.ProductsPhoto5 != "")
            {
                <img class="altPhotos" onmouseover="altPhoto5();" onmouseout="defaultPhoto()" defaultPhoto()" src="/Content/img/@Model.ProductsPhoto5" alt="@Model.ProductsName" />
            }
        </div>
    </div>

    <div id="productDetails">
        <p id="indiProductName">@Model.ProductsName</p>
        @if (Model.ProductsSalePrice > 0)
        {<span id="indiProductFullPriceSale">$@Model.ProductsPrice</span><span>     </span><span id="indiProductSalePrice">$@Model.ProductsSalePrice</span> }
        else
        { <p id="indiProductFullPrice">$@Model.ProductsPrice</p>}
        <br />
        <br />
        <span id="indiProductQuantity">In Stock: @Model.ProductsQuantity</span>
        <br />
        <br />
        <span id="indiProductDescription">Description: @Model.ProductsDescription</span>
        <br />
        <br />
        <form method="post" action="https://www.paypal.com/cgi-bin/webscr">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="business" value="&#104;&#97;&#110;&#115;&#101;&#110;&#51;&#54;&#49;&#55;&#64;&#115;&#116;&#117;&#100;&#101;&#110;&#116;&#46;&#99;&#112;&#116;&#99;&#46;&#101;&#100;&#117;">
            <input type="hidden" name="item_name" value="@Model.ProductsName">
            <input type="hidden" name="item_number" value="@Model.ProductsId">
            @if (Model.ProductsSalePrice > 0)
            {
                <input type="hidden" name="amount" value="@Model.ProductsSalePrice">

            }
            else
            {
                <input type="hidden" name="amount" value="@Model.ProductsPrice">
            }
            <input type="hidden" name="shipping" value="@Model.ProductsShippingCharge">
            <input type="hidden" name="shipping2" value="0">
            <input type="hidden" name="handling" value="@Model.ProductsHandlingCharge">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="return" value="">
            <input type="hidden" name="undefined_quantity" value="1">
            <input type="image" src="http://www.paypalobjects.com/en_US/i/btn/x-click-but22.gif" name="submit" width="87" height="23" alt="Make payments with PayPal - it's fast, free and secure!">
        </form>
    </div>
</div>
@section scripts{


    <script>
        function defaultPhoto() {
            document.getElementById("mainPhoto").src = "/Content/img/@Model.ProductsPhoto";

        }

        function altPhoto2() {
            document.getElementById("mainPhoto").src = "/Content/img/@Model.ProductsPhoto2";
        }
        function altPhoto3() {
            document.getElementById("mainPhoto").src = "/Content/img/@Model.ProductsPhoto3";

        }

        function altPhoto4() {
            document.getElementById("mainPhoto").src = "/Content/img/@Model.ProductsPhoto4";

        }

        function altPhoto5() {
            document.getElementById("mainPhoto").src = "/Content/img/@Model.ProductsPhoto5";
        }
    </script>

}



