
@{
    ViewBag.Title = "Admin Page";
}

<h2>Admin Page</h2>

<ul>
    <li>@Html.ActionLink("Products", "AdminProductPage", "Admin")</li>
    <li>@Html.ActionLink("Photos", "AdminPhotoPage", "Admin")</li>
    <li>@Html.ActionLink("Categories", "AdminCategoryPage", "Admin")</li>
    <li>@Html.ActionLink("News", "AdminNewsPage", "Admin") </li>
    <li>@Html.ActionLink("About", "UpdateAbout", "Admin")</li>
    <li>@Html.ActionLink("Contact", "UpdateContact", "Admin")</li>
</ul>

<div style="text-align:center">
    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, htmlAttributes: new { id = "logoutForm", @class = "LogIn2" }))
                {
            @Html.AntiForgeryToken()

            <span>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) | <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></span>
        }
    }
    else
    {
        <span id="LogIn">@Html.ActionLink("Log in", "Login", "Account") | @Html.ActionLink("Register", "Register", "Account")</span>
    }
</div>