@using FrozenCritters.Models
@model LoginViewModel

@section metatags
{
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <section>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <span id="userALocalAccount">Use a local account to log in.</span>
            <br />
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger rememberMe" })
            <div class="loginInput">
                <span class="loginLabel">Email</span>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control rememberMe" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger rememberMe" })
            </div>
            <br />
                <div class="loginInput">
                    <span class="loginLabel">Password</span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control rememberMe" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger rememberMe" })
                </div>
                <div>
                    <div class="rememberMe">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <input type="submit" value="Log in" class="btn btn-default" />
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
        }
    </section>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}